include ./mixins.pug
doctype html
- signin_link = 'https://finance.quickmoneyclick.com/user/register'
- signup_link = signin_link
- terms_link = '../docs/TermsAndConditions.pdf'
- policy_link = '../docs/QMCPrivacyPolicy.pdf'
- fatca_link  = '../docs/FATCA_FAQ.pdf'
- vk_link = '#'
- fb_link = '#'
- twitter_link = '#'
- pdf_link = '#'
html(lang="ru")
	+head()
	body.page
		include ../images/sprite.svg
		.page__body
			header.header.bgcolor--light
				.header__wrapper
					.header__side
						.btn.btn--menu.header__menu-toggle
							+icon('menu')
						.header__menu
							.header__menu-wrapper
								.toolbar.header__languages
									ul.list.list--reset
										li.list__item
											a.link.link--active.translate(href="#", data-lang="ru")
												| RU
										li.list__item
											a.link(href="#")
												| EN
										li.list__item
											a.link.translate(href="#", data-lang="cz")
												| CZ
									.btn.btn--menu.header__menu-toggle
										+icon('times')
								ul.list.list--reset.header__nav
									li.list__item
										a.link(href="#", data-popup="faq")
											| FAQ
									li.list__item
										a.link.lang(href="#", data-popup="commission", data-key="commissions")
											| Комиссии и сборы
									li.list__item
										a.link.lang(href=terms_link, target="_blank", data-key="terms")
											| Условия и положения
									li.list__item
										a.link.lang(href=policy_link, target="_blank", data-key="policy")
											| Политика конфиденциальности
									li.list__item
										a.link(href=fatca_link, target="_blank")
											| FAQ FATCA
								.header__info
									ul.list.list--reset
										li.list__item
											a.link(href="skype:sales@quickmoneyclick.com")
												+icon('skype')
												span
													| sales@quickmoneyclick.com
										li.list__item
											a.link(href="mailto:sales@quickmoneyclick.com")
												+icon('envelope')
												span
													| sales@quickmoneyclick.com
								.header__copy
									p.lang(data-key="copy_1")
										| Электронные кошельки предоставляются: FSV Money Pte. Ltd (Сингапур), владеющий правом  stored value facility (SVF). 
									p.lang(data-key="copy_2")
										| Регистрационный номер 201619216W. FATCA GIIN:CZCKZE.99999.SL.702
						.logo.header__logo
						.toolbar.header__languages
							ul.list.list--reset
								li.list__item
									a.link.link--active.translate(href="#", data-lang="ru")
										| RU
								li.list__item
									a.link(href="#")
										| EN
								li.list__item
									a.link.translate(href="#", data-lang="cz")
										| CZ
						.header__lock
							+icon('padlock')
					.header__side
						.toolbar.header__socials
							a.link(href=vk_link)
								+icon('vkontakte')
							a.link(href=fb_link)
								+icon('facebook')
							a.link(href=twitter_link)
								+icon('twitter')
						.toolbar.header__actions
							a.btn.btn--sm.lang(href=signin_link, data-key="login")
								| Войти
							a.btn.btn--sm.btn--inverse.lang(href=signup_link, data-key="signin")
								| Зарегистрироваться
			main.main
				.slider.slider--main.slider--main-pics
					.slider__container.swiper-container
						.slider__wrapper.swiper-wrapper
							.slider__slide.swiper-slide 
								//-img.slide__img(src="../images/slide-0.jpg", alt="slide-0" data-bg="true")
								+picture({'class':'slide__img', 'src':'../images/slide-0.jpg', 'alt':'slide-0', 'data':{'data-bg': 'true'}})
							.slider__slide.swiper-slide 
								//-img.slide__img(src="../images/slide-1.jpg", alt="slide-1" data-bg="true")
								+picture({'class':'slide__img', 'src':'../images/slide-1.jpg', 'alt':'slide-1', 'data':{'data-bg': 'true'}})
							.slider__slide.swiper-slide 
								//-img.slide__img(src="../images/slide-2.jpg", alt="slide-2" data-bg="true")
								+picture({'class':'slide__img', 'src':'../images/slide-2.jpg', 'alt':'slide-2', 'data':{'data-bg': 'true'}})
							.slider__slide.swiper-slide 
								//-img.slide__img(src="../images/slide-3.jpg", alt="slide-3" data-bg="true")
								+picture({'class':'slide__img', 'src':'../images/slide-3.jpg', 'alt':'slide-3', 'data':{'data-bg': 'true'}})
							.slider__slide.swiper-slide 
								//-img.slide__img(src="../images/slide-4.jpg", alt="slide-4" data-bg="true")
								+picture({'class':'slide__img', 'src':'../images/slide-4.jpg', 'alt':'slide-4', 'data':{'data-bg': 'true'}})
				.page__wrapper
					.slider.slider--main.slider--main-text
						.swiper-button-prev.slider__btn
							+icon('chewron-left')
						.slider__container.swiper-container
							.slider__wrapper.swiper-wrapper
								.slider__slide.swiper-slide
									.benefit.benefit--logo
										h4.benefit__subtitle.lang(data-key="electronic_wallet")
											| Электронный кошелек для бизнес решений
										.benefit__pic
											img.img(src="../images/logo.png", alt="QuickMoneyClick")
										h1.benefit__title.lang(data-key="better_than_bank")
											| Лучше, чем банк!
										.benefit__actions
											a.btn.btn--inverse.lang(href=signup_link, data-key="open_account")
												| Открыть аккаунт
								.slider__slide.swiper-slide
									.benefit
										h2.benefit__title.lang(data-key="features")
											| Возможности QMC
										h4.benefit__subtitle.lang(data-key="better_than_bank")
											| Лучше, чем банк!
										.benefit__wrapper
											.wrapper__side
												.benefit__pic
													+icon('wallet')
											.wrapper__side
												ul.list.list--din
													li.list__item.lang(data-key="account_opening")
														| Открытие аккаунта
													li.list__item.lang(data-key="account_replenishment")
														| Пополнение аккаунта
													li.list__item.lang(data-key="withdrawal_of_funds")
														| Вывод средств
													li.list__item.lang(data-key="instant_translations")
														| Мгновенные переводы
										.benefit__actions
											.btn.lang(data-popup="1", data-key="learn_more")
												| Узнать больше
											a.btn.btn--inverse.lang(href=signup_link, data-key="open_account")
												| Открыть аккаунт
								.slider__slide.swiper-slide
									.benefit
										h2.benefit__title.lang(data-key="business")
											| Бизнес-аккаунт
										h4.benefit__subtitle.lang(data-key="personal")
											| Ваш персональный счёт
										.benefit__wrapper
											.wrapper__side
												.benefit__pic
													+icon('man')
											.wrapper__side
												ul.list.list--din
													li.list__item.lang(data-key="currency_calculation")
														| Валюта расчета доллар, евро, чешская крона
													li.list__item.lang(data-key="mutual_settlements")
														| Взаиморасчёты
													li.list__item.lang(data-key="business_segments")
														| Все сегменты бизнеса
													li.list__item.lang(data-key="personalized_approach")
														| Персонализированный подход
										.benefit__actions
											.btn.lang(data-popup="2", data-key="learn_more")
												| Узнать больше
											a.btn.btn--inverse.lang(href=signup_link, data-key="open_account")
												| Открыть аккаунт
								.slider__slide.swiper-slide
									.benefit
										h2.benefit__title.lang(data-key="merchant_account")
											| Мерчант-аккаунт
										h4.benefit__subtitle.lang(data-key="solutions")
											| Решения для Вашего бизнеса
										.benefit__wrapper
											.wrapper__side
												.benefit__pic
													+icon('hands')
											.wrapper__side
												ul.list.list--din
													li.list__item.lang(data-key="receiving_payments")
														| Прием онлайн платежей на Ваш ресурс со всего мира
													li.list__item.lang(data-key="reverse_payouts")
														| Обратные выплаты
													li.list__item.lang(data-key="different_business")
														| Работа с различными видами бизнеcа
													li.list__item.lang(data-key="customized_solutions")
														| Индивидуальные решения
										.benefit__actions
											.btn.lang(data-popup="3", data-key="learn_more")
												| Узнать больше
											.btn.btn--inverse.lang(data-popup="3-2", data-key="open_account")
												| Открыть аккаунт
								.slider__slide.swiper-slide
									.benefit
										h2.benefit__title.lang(data-key="blockchain")
											| Блокчейн технологии
										h4.benefit__subtitle.lang(data-key="transactions")
											| Технологичные транзакции
										.benefit__wrapper
											.wrapper__side
												.benefit__pic
													+icon('chain')
											.wrapper__side
												ul.list.list--din
													li.list__item.lang(data-key="replenishment")
														| Пополнение аккаунта USD и EUR криптовалютой
													li.list__item.lang(data-key="crypto_address")
														| Выплаты на криптоадреса
													li.list__item.lang(data-key="own_crypto")
														| Генерация собственного криптоадреса
													li.list__item.lang(data-key="auto_convert")
														| Автоконвертация криптовалюты в USD и EUR
										.benefit__actions
											.btn.lang(data-popup="4", data-key="learn_more")
												| Узнать больше
											a.btn.btn--inverse.lang(href=signup_link, data-key="open_account")
												| Открыть аккаунт
						.swiper-pagination.slider__pagination
						.swiper-button-next.slider__btn
							+icon('chewron-right')
						nav.slider__nav
							input#slide-0(type="radio", disabled, name="slider")
							//-
								label.nav__item(for="slide-0")
							input#slide-1(type="radio", name="slider")
							label.nav__item(for="slide-1")
								span.label__title.lang(data-key="features")
									| Возможности QMC
								span.label__caption.lang(data-key="better_than_bank")
									| Лучше, чем банк!
							input#slide-2(type="radio", name="slider")
							label.nav__item(for="slide-2")
								span.label__title.lang(data-key="business")
									| Бизнес-аккаунт
								span.label__caption.lang(data-key="personal")
									| Ваш персональный счет
							input#slide-3(type="radio", name="slider")
							label.nav__item(for="slide-3")
								span.label__title.lang(data-key="merchant_account")
									| Мерчант-аккаунт
								span.label__caption.lang(data-key="solutions")
									| Решения для Вашего бизнеса
							input#slide-4(type="radio", name="slider")
							label.nav__item(for="slide-4")
								span.label__title.lang(data-key="blockchain")
									| Блокчейн технологии
								span.label__caption.lang(data-key="transactions")
									| Технологичные транзакции
			.popup(data-id="1")
				.page__wrapper
					.popup__wrapper
						.popup__header
							h3.popup__title.lang(data-key="our_capabilities")
								| Наши возможности
							.btn.popup__close
								+icon('close')
						.popup__main
							.benefit.benefit--popup
								ol.list.list--blot
									li.list__item
										.benefit__caption.lang(data-key="account_opening2")
											| Открытие аккаунта. Доллары, Евро, Чешская крона.
										.benefit__pic
											include ../images/popup-1.1.svg
									li.list__item
										.benefit__caption.lang(data-key="account_replenishment2")
											| Пополнение аккаунта: банковской картой, банковским переводом, криптовалютой.
										.benefit__pic
											include ../images/popup-1.2.svg
									li.list__item
										.benefit__caption.lang(data-key="withdrawal_of_funds2")
											| Вывод с аккаунта: на банковскую карту, на банковский счёт или на криптоаккаунт.
										.benefit__pic
											include ../images/popup-1.3.svg
									li.list__item
										.benefit__caption.lang(data-key="instant_translations2")
											| Мгновенные переводы. Внутри аккаунта - между своими счетами. Между аккаунтами в системе QMC.
										.benefit__pic
											include ../images/popup-1.4.svg
								.benefit__actions
									h4.lang(data-key="start_work")
										| Откройте счет и начните работу
									a.btn.btn--inverse.lang(href=signup_link, data-key="open_account")
										| Открыть аккаунт
			.popup(data-id="2")
				.page__wrapper
					.popup__wrapper
						.popup__header
							h3.popup__title.lang(data-key="popup2_title")
								| Решения для бизнеса
							h5.popup__subtitle.lang(data-key="popup2_subtitle")
								| Взаиморасчеты в сегментах b2b, b2p, p2p
							.btn.popup__close
								+icon('close')
						.popup__main
							.benefit.benefit--popup
								ol.list.list--blot
									li.list__item
										.benefit__caption.lang(data-key="popup2_list1")
											| Взаиморасчеты между покупателем и продавцом без участия банковских структур.
										.benefit__pic
											include ../images/popup-2.1.svg
									li.list__item
										.benefit__caption.lang(data-key="popup2_list2")
											| Выплаты за работы, услуги
										.benefit__pic
											include ../images/popup-2.2.svg
									li.list__item
										.benefit__caption.lang(data-key="popup2_list3")
											| Оптимизация налогообложения при использования QMC
										.benefit__pic
											include ../images/popup-2.3.svg
								.benefit__actions
									h4.lang(data-key="start_work")
										| Откройте счет и начните работу
									a.btn.btn--inverse.lang(href=signup_link, data-key="open_account")
										| Открыть аккаунт
			.popup(data-id="3")
				.page__wrapper
					.popup__wrapper
						.popup__header
							h3.popup__title.lang(data-key="merchant_account3")
								| Мерчант аккаунт
							h5.popup__subtitle.lang(data-key="merchant_for_business")
								| Счет торговца для бизнеса в интернете в системе QMC
							.btn.popup__close
								+icon('close')
						.popup__main
							.benefit.benefit--popup
								ol.list.list--blot
									li.list__item
										.benefit__caption.lang(data-key="popup3_list1")
											| Обычный аккаунт с одной валютой и статусом мерчант
										.benefit__pic.benefit__pic--lg
											include ../images/popup-3.1.svg
									li.list__item
										.benefit__caption.lang(data-key="popup3_list2")
											| Неограниченные возможности по выплатам с мерчант аккаунта
										.benefit__pic
											include ../images/popup-3.2.svg
								.benefit__actions
									h4.lang(data-key="start_work")
										| Откройте счет и начните работу
									a.btn.btn--inverse.lang(href=signup_link, data-key="open_account")
										| Открыть аккаунт
			.popup(data-id="3-2")
				.page__wrapper
					.popup__wrapper
						.popup__header
							h3.popup__title.lang(data-key="merchant_open")
								| Открыть мерчант аккаунт
							.btn.popup__close
								+icon('close')
						.popup__main
							.benefit.benefit--popup.benefit--popup-inline
								.benefit__wrapper
									.wrapper__side
										.benefit__pic.benefit__pic--md
											include ../images/popup-3-2.1.svg
									.wrapper__side
										ol.list
											li.list__item.lang(data-key="popup3-2_list1")
												| Кликните по ссылке ниже, чтобы скачать форму заявки.
											li.list__item.lang(data-key="popup3-2_list2")
												| Заполните ее и отправьте на почту info@quickmoneyclik.com
											li.list__item.lang(data-key="popup3-2_list3")
												| Дождитесь одобрения заявки.
											li.list__item.lang(data-key="popup3-2_list4")
												| Получите API для интеграции на Ваш сайт.
											li.list__item.lang(data-key="popup3-2_list5")
												| Начните получать платежи и делать выплаты на своем сайте.
										a.link.link--attach(href=pdf_link)
											+icon('pdf')
											div
												span.lang(data-key="popup3-2_list6")
													| Скачать форму 
												br
												| (324KB, PDF)
			.popup(data-id="4")
				.page__wrapper
					.popup__wrapper
						.popup__header
							h3.popup__title.lang(data-key="blockchain")
								| Блокчейн технологии
							h5.popup__subtitle.lang(data-key="transactions")
								| Технологичные транзакции
							.btn.popup__close
								+icon('close')
						.popup__main
							.benefit.benefit--popup
								ol.list.list--blot
									li.list__item
										.benefit__caption.lang(data-key="popup4_list1")
											| Принимайте криптовалюту за товары, работы, услуги без открытия криптоаккаунта. Риски большой волатильности курса отсутствуют.
										.benefit__pic.benefit__pic--lg
											include ../images/popup-4.1.svg
									li.list__item
										.benefit__caption.lang(data-key="popup4_list2")
											| При получении криптовалюты она по текущему курсу отображается у вас на аккаунте в долларах или евро.
										.benefit__pic
											include ../images/popup-4.2.svg
									li.list__item
										.benefit__caption.lang(data-key="popup4_list3")
											| Рассчитывайтесь в криптовалюте без наличия криптоаккаунта. У вас есть на аккаунте QMC доллары или евро: подайте заявку на вывод с указанием криптоадреса вашего продавца.
										.benefit__pic
											include ../images/popup-4.3.svg											
								.benefit__actions
									h4.lang(data-key="start_work")
										| Откройте счет и начните работу
									a.btn.btn--inverse.lang(href=signup_link, data-key="open_account")
										| Открыть аккаунт
			.popup(data-id="commission")
				.page__wrapper
					.popup__wrapper
						.popup__header
							h3.popup__title.lang(data-key="table1_title")
								| Коммисия и сборы
							.btn.popup__close
								+icon('close')
						.popup__main
							.benefit.benefit--popup
								table.table
									thead
										tr
											th.lang(data-key="table1_r1c1")
												| Сервисные сборы
											th.lang(data-key="table1_r1c2")
												| Стоимость
									tbody
										tr
											td.lang(data-key="table1_r2c1")
												| Открытие аккаунта
											td 
												b
													| 0
										tr
											td.lang(data-key="table1_r3c1")
												| Открытие мерчан аккаунта
											td 
												b
													| 0
										tr
											td.lang(data-key="table1_r4c1")
												| Открытие мерчан аккаунта для финансовых институтов
											td 
												b.lang(data-key="table1_r4c2")
													| Установочная плата 3 000 EUR
										tr
											td.lang(data-key="table1_r5c1")
												| Ежемесячное обслуживание
											td 
												b
													| 0
										tr
											td.lang(data-key="table1_r6c1")
												| Закрытие аккаунта
											td 
												b
													| 0
								table.table
									thead
										tr
											th.lang(data-key="table2_r1c1")
												| Входящие платежи
											th 
									tbody
										tr
											td.lang(data-key="table2_r2c1")
												| Банковский перевод
											td 
												b
													| 35 EUR +1.5%
										tr
											td.lang(data-key="table2_r3c1")
												| Банковская карта
											td 
												b
													| 2%
										tr
											td.lang(data-key="table2_r4c1")
												| Пополнение криптовалютой
											td 
												b
													| 5 EUR +2%
								table.table
									thead
										tr
											th.lang(data-key="table3_r1c1")
												| Исходящие платежи
											th 
									tbody
										tr
											td.lang(data-key="table3_r2c1")
												| Банковский перевод
											td 
												b
													| 35 EUR +1.5%
										tr
											td.lang(data-key="table3_r3c1")
												| Банковская карта
											td 
												b
													| 2%
										tr
											td.lang(data-key="table3_r4c1")
												| Пополнение криптовалютой
											td 
												b
													| 5 EUR +2%
								br
								br
								br
								br
								br
								.benefit__actions
									h4.lang(data-key="start_work")
										| Откройте счет и начните работу
									a.btn.btn--inverse.lang(href=signup_link, data-key="open_account")
										| Открыть аккаунт
			.popup(data-id="faq")
				.page__wrapper
					.popup__wrapper
						.popup__header(style="margin-bottom:0;")
							h3.popup__title
								| F.A.Q.
							.btn.popup__close
								+icon('close')
						.popup__main
							.benefit.benefit--popup
								.accordion(data-type="radio")
									.accordion__group
										.accordion__group-title.lang(data-key="faq_gt1")
											| О компании
										.accordion__card
											.accordion__card-title.lang(data-key="faq_c1_t")
												| Что такое QMC?
											.accordion__card-body.lang(data-key="faq_c1_b")
												|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias hic nemo, quam obcaecati vel dolore optio error harum ad inventore, necessitatibus reiciendis accusantium consequuntur perspiciatis voluptatem atque explicabo, aperiam commodi.
										.accordion__card
											.accordion__card-title.lang(data-key="faq_c2_t")
												| Какие возможности даёт QMC для бизнеса и частных лиц?
											.accordion__card-body.lang(data-key="faq_c2_b")
												| Quick Money Click - предоставляет своим клиентам различные возможности: пополнять, выводить средства, принимать платежи с интернет-ресурсов, делать обратные выплаты, производить взаиморасчеты, а также генерировать для своих аккаунтов криптоадреса для приема криптовалюты.
										.accordion__card
											.accordion__card-title.lang(data-key="faq_c3_t")
												| В чём ваше отличие от популярных электронных кошельков?
											.accordion__card-body.lang(data-key="faq_c3_b")
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ducimus earum eaque sit modi, maiores, nobis non sapiente assumenda, dicta tempora sed asperiores rem recusandae cum vel perferendis amet esse. 
										.accordion__card
											.accordion__card-title.lang(data-key="faq_c4_t")
												| С какими банками мы сотрудничаем?
											.accordion__card-body.lang(data-key="faq_c4_b")
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo facere numquam neque repellat, repudiandae nihil vitae quam. Odio labore possimus alias quos quia officiis eaque magni unde soluta. Veniam, provident. 
										.accordion__card
											.accordion__card-title.lang(data-key="faq_c5_t")
												| Какие виды аккаунтов можно открыть в QMC?
											.accordion__card-body.lang(data-key="faq_c5_b")
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est obcaecati impedit accusantium reprehenderit distinctio voluptatum fugiat odit, ipsa labore in quisquam modi natus? Voluptatum error, provident doloribus optio commodi quia!
										.accordion__card
											.accordion__card-title.lang(data-key="faq_c6_t")
												| С кем мы работаем? С какими странами?
											.accordion__card-body.lang(data-key="faq_c6_b")
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dolorem sunt ipsam illum delectus praesentium voluptatem quis hic, porro debitis aut esse ea necessitatibus iste tempore numquam minima, iure in. 														
									.accordion__group
										.accordion__group-title.lang(data-key="faq_gt2")
											| Бизнес аккаунт
										.accordion__card
											.accordion__card-title.lang(data-key="faq_c7_t")
												| Что такое QMC?
											.accordion__card-body.lang(data-key="faq_c7_b")
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dolorem sunt ipsam illum delectus praesentium voluptatem quis hic, porro debitis aut esse ea necessitatibus iste tempore numquam minima, iure in.
										.accordion__card
											.accordion__card-title.lang(data-key="faq_c8_t")
												| Какие возможности даёт QMC для бизнеса и частных лиц?
											.accordion__card-body.lang(data-key="faq_c8_b")
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dolorem sunt ipsam illum delectus praesentium voluptatem quis hic, porro debitis aut esse ea necessitatibus iste tempore numquam minima, iure in.
										.accordion__card
											.accordion__card-title.lang(data-key="faq_c9_t")
												| В чём ваше отличие от популярных электронных кошельков?
											.accordion__card-body.lang(data-key="faq_c9_b")
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dolorem sunt ipsam illum delectus praesentium voluptatem quis hic, porro debitis aut esse ea necessitatibus iste tempore numquam minima, iure in.
										.accordion__card
											.accordion__card-title.lang(data-key="faq_c10_t")
												| С какими банками мы сотрудничаем?
											.accordion__card-body.lang(data-key="faq_c10_b")
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dolorem sunt ipsam illum delectus praesentium voluptatem quis hic, porro debitis aut esse ea necessitatibus iste tempore numquam minima, iure in.
										.accordion__card
											.accordion__card-title.lang(data-key="faq_c11_t")
												| Какие виды аккаунтов можно открыть в QMC?
											.accordion__card-body.lang(data-key="faq_c11_b")
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dolorem sunt ipsam illum delectus praesentium voluptatem quis hic, porro debitis aut esse ea necessitatibus iste tempore numquam minima, iure in.
										.accordion__card
											.accordion__card-title.lang(data-key="faq_c12_t")
												| С кем мы работаем? С какими странами?
											.accordion__card-body.lang(data-key="faq_c12_b")
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dolorem sunt ipsam illum delectus praesentium voluptatem quis hic, porro debitis aut esse ea necessitatibus iste tempore numquam minima, iure in.
			//-script(defer, src="https://use.fontawesome.com/releases/v5.0.7/js/all.js")
			script(src="../js/vendors/jquery-3.2.1.min.js")
			script(src="../js/vendors/jquery.cookie.js")
			script(src="../js/vendors/swiper.min.js")
			script(src="../js/languages.js")
			script(src="../js/app.js")